
# Exercício - Compras de Ecommerce  

Neste exercício, você receberá alguns dados falsos sobre algumas compras feitas pela Amazon! Basta seguir as instruções e tente dar melhor para responder as perguntas e completar as tarefas. Sinta-se a vontade para dar uma olhada nas soluções. A maioria das tarefas pode ser resolvida de diferentes maneiras. Para a maior parte, as perguntas ficam cada vez mais difíceis.

Peço desculpas desde já por todos dados que não parecerem muito reais. São todos falsos.

Observe também que todas essas questões podem ser respondidas com uma linha de código.
____
** Importe pandas e leia o arquivo csv "Ecommerce Purchases" e configure-o para um DataFrame chamado ecom. **

In [2]:
import pandas as pd

In [6]:
ecom = pd.read_csv("Ecommerce Purchases")#Lendo o arquivo com o pd.read_csv

In [8]:
ecom.head()#Dando um head no data frame

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Verifique o "head" do DataFrame.**

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

** Quantas linhas e colunas existem? **

In [13]:
len(ecom)

10000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

** Qual é o preço de compra médio? **

In [14]:
ecom['Purchase Price'].mean()

50.34730200000025

50.34730200000025

** Quais foram os preços de compra mais altos e mais baixos? **

In [19]:
ecom['Purchase Price'].max()

99.99

99.989999999999995

In [20]:
ecom['Purchase Price'].min()

0.0

0.0

** Quantas pessoas têm Inglês 'en' como sua língua de escolha no site? **

In [21]:
ecom.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [27]:
ecom[ecom['Language']=='en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

** Quantas pessoas têm o cargo de "Advogado"? **

In [39]:
ecom[ecom['Job']=='Lawyer'].shape

(30, 14)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
Address             30 non-null object
Lot                 30 non-null object
AM or PM            30 non-null object
Browser Info        30 non-null object
Company             30 non-null object
Credit Card         30 non-null int64
CC Exp Date         30 non-null object
CC Security Code    30 non-null int64
CC Provider         30 non-null object
Email               30 non-null object
Job                 30 non-null object
IP Address          30 non-null object
Language            30 non-null object
Purchase Price      30 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

** Quantas pessoas fizeram a compra durante a AM e quantas pessoas fizeram a compra durante o PM? **

** (Sugestão: Confira [value_counts ()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)) **

In [44]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

PM    5068
AM    4932
Name: AM or PM, dtype: int64

** Quais são os 5 títulos de trabalho mais comuns? **

In [45]:
ecom['Job']

0       Scientist, product/process development
1                            Drilling engineer
2                     Customer service manager
3                            Drilling engineer
4                                  Fine artist
5                            Fish farm manager
6                                       Dancer
7                              Event organiser
8                            Financial manager
9                           Forensic scientist
10               Development worker, community
11                     Diagnostic radiographer
12                          Surveyor, quantity
13        Accountant, chartered public finance
14                               Acupuncturist
15                              Retail manager
16                              Therapist, art
17                         Designer, jewellery
18                                Photographer
19                  Designer, interior/spatial
20                    Public relations officer
21                     Presenter, broadcasting
22                              Retail manager
23                          Field seismologist
24                                    Musician
25            Training and development officer
26                           Barrister's clerk
27                             Careers adviser
28         Scientist, research (life sciences)
29                           Recycling officer
                         ...
9970                       Electrical engineer
9971                            Therapist, art
9972                    Sales professional, IT
9973                 Editor, magazine features
9974                          Sports therapist
9975                 Education officer, museum
9976                        Furniture designer
9977                       Biomedical engineer
9978              Designer, exhibition/display
9979                                    Lawyer
9980                          Textile designer
9981           Environmental education officer
9982                        Restaurant manager
9983       Scientist, research (life sciences)
9984                     Editor, commissioning
9985                Designer, interior/spatial
9986                                Cabin crew
9987                    Primary school teacher
9988                        Charity fundraiser
9989              Community development worker
9990                       Early years teacher
9991                     IT sales professional
9992                              Set designer
9993              Designer, exhibition/display
9994                 Education officer, museum
9995                                Printmaker
9996                           Energy engineer
9997                        Veterinary surgeon
9998                  Local government officer
9999                    Embryologist, clinical
Name: Job, Length: 10000, dtype: object

In [59]:
ecom['Job'].value_counts().head()

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Designer, jewellery              27
Purchasing manager               27
Name: Job, dtype: int64

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

** Alguém fez uma compra que veio do Lot: "90 WT", qual foi o preço de compra para esta transação? **

In [63]:
ecom[ecom['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

513    75.1
Name: Purchase Price, dtype: float64

** Qual é o email da pessoa com o seguinte número do cartão de crédito: 4926535242672853 **

In [70]:
ecom[ecom['Credit Card'] =='4926535242672853']['Email']

C:\Users\Leonardo\Anaconda3\lib\site-packages\pandas\core\ops.py:816: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: invalid type comparison

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** Quantas pessoas têm o American Express como seu fornecedor de cartão de crédito * e * fizeram uma compra acima de US $ 95? **

In [72]:
ecom[(ecom['CC Provider']== 'American Express') & (ecom['Purchase Price']>95)].shape

(39, 14)

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

** Difícil: quantas pessoas tem um cartão de crédito que expira em 2025? **

In [81]:
sum(ecom['CC Exp Date'].apply(lambda x: x[3:]) == '25')

1033

1033

** Difícil: quais são os 5 principais provedores de e-mail / hosts mais populares (por exemplo, gmail.com, yahoo.com, etc ...) **

In [89]:
ecom['Email'].apply(lambda x: x.split('@')[1]).value_counts()

hotmail.com                 1638
yahoo.com                   1616
gmail.com                   1605
smith.com                     42
williams.com                  37
johnson.com                   29
brown.com                     29
jones.com                     25
davis.com                     25
martinez.com                  19
martin.com                    15
white.com                     15
jackson.com                   14
thompson.com                  14
garcia.com                    14
miller.com                    14
rodriguez.com                 14
thomas.com                    14
hill.com                      13
harris.com                    12
taylor.com                    12
walker.com                    11
moore.com                     11
wilson.com                    11
nelson.com                    10
lee.com                       10
roberts.com                   10
hernandez.com                 10
king.com                      10
long.com                      10
                            ...
buchanan.net                   1
may-novak.org                  1
carroll-hensley.net            1
jordan.biz                     1
franco-green.com               1
bell-stewart.com               1
wolf-gardner.org               1
hutchinson-gallegos.info       1
miller-curtis.biz              1
butler-thompson.net            1
ali.com                        1
klein.net                      1
weaver-foster.net              1
norris-cross.info              1
bonilla.biz                    1
vasquez-miller.net             1
bullock-lopez.com              1
martinez-delgado.info          1
marshall.org                   1
gonzalez-smith.com             1
bird.com                       1
sherman.info                   1
lara-wright.com                1
orozco-martinez.com            1
coffey-ross.biz                1
hall-gomez.com                 1
fox-lowe.com                   1
kelley.com                     1
flores-white.com               1
jackson.net                    1
Name: Email, Length: 3416, dtype: int64

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64